{% extends 'base/base.html' %}

{% block title %}
    Profile
{% endblock %}

{% block content %}
    {% if msg %}
        <div class="alert alert-success alert-dismissible" role="alert">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            {{ msg }}
        </div>
    {% endif %}

    <div class="card" style="width: 100%">
        <div class="card-header">
            <div class="row">
                <div class="col-sm-12">
                    <h2>Profile</h2>
                </div>
            </div>
        </div>

        <div class="card-body">

            <div class="row" style="margin-bottom: 20px;">
                <div class="col">
                    <img src="{{ affiliate.profile_pic_url }}" id="profile_pic_preview" height="100" width="100"
                         style="border-radius: 6px; margin-bottom: 10px;">

                    <div style="height:0;overflow:hidden">
                        <form id="profile_pic_form" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <input type="file" id="profile_pic_input" name="profile_pic"/>
                        </form>
                    </div>
                    <button type="button" class="btn btn-primary btn-sm" onclick="chooseFile();">Change Profile Pic</button>
                    <button type="submit" class="btn btn-success btn-sm" id="save_profile_pic_btn" form="profile_pic_form" style="display: none;">Save</button>
                </div>
            </div>

            <form id="profile_form" class="form-horizontal" method="post">
                {% csrf_token %}
                <div class="form-group mb-s-0">
                    <div class="row">
                        <div class="col-sm-12">
                            <h3>Basic Details</h3>
                            <hr>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-form-label col-sm-2">First Name</div>
                        <div class="col-sm-3 mb-10">
                            <input type="text" class="form-control" name="first_name"
                                   value="{{ affiliate.user.first_name|default_if_none:"" }}" required>
                        </div>
                        <div class="col-form-label col-sm-2 offset-sm-1">Last Name</div>
                        <div class="col-sm-3">
                            <input type="text" class="form-control" name="last_name"
                                   value="{{ affiliate.user.last_name|default_if_none:"" }}">
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-form-label col-sm-2">Email</div>
                        <div class="col-sm-3 mb-10">
                            <input type="text" class="form-control" name="email"
                                   value="{{ affiliate.user.email|default_if_none:"" }}" readonly>
                        </div>
                        <div class="col-form-label col-sm-2 offset-sm-1">Phone Number</div>
                        <div class="col-sm-3">
                            <input type="text" class="form-control" name="phone_no"
                                   value="{{ affiliate.phone_no|default_if_none:"" }}" required>
                        </div>
                    </div>
                </div>

                <div class="form-group mb-s-0">
                    <div class="row">
                        <div class="col-form-label col-sm-2">Address</div>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" placeholder="Street Address"
                                   name="street_address"
                                   value="{{ affiliate.address.street_address|default_if_none:"" }}">
                        </div>
                    </div>
                </div>

                <div class="form-group mb-s-0">
                    <div class="row">
                        <div class="col-form-label col-sm-2"></div>
                        <div class="col-sm-2 mb-10">
                            <input type="text" class="form-control" placeholder="City" name="city"
                                   value="{{ affiliate.address.city|default_if_none:"" }}">
                        </div>
                        <div class="col-sm-2">
                            <input type="text" class="form-control" placeholder="PinCode" name="pincode"
                                   value="{{ affiliate.address.pincode|default_if_none:"" }}">
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-form-label col-sm-2"></div>
                        <div class="col-sm-2 mb-10">
                            <input type="text" class="form-control" placeholder="State" name="state"
                                   value="{{ affiliate.address.state|default_if_none:"" }}">
                        </div>
                        <div class="col-sm-2">
                            <input type="text" class="form-control" placeholder="Country" name="country"
                                   value="{{ affiliate.address.country|default_if_none:"" }}">
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-form-label col-sm-2">Occupation</div>
                        <div class="col-sm-4">
                            <select class="form-control" name="occupation">
                                <option disabled selected>-----------------------------------</option>
                                {% for category in occupation_categories %}
                                    <option value="{{ category }}"
                                            {% if affiliate.occupation.name == category %}selected{% endif %}>{{ category }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-12">
                            <br>
                            <h3>Organisation Details</h3>
                            <hr>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-form-label col-sm-2">Name</div>
                        <div class="col-sm-4 mb-10">
                            <input type="text" class="form-control" name="organisation_name"
                                   value="{{ affiliate.organisation.name|default_if_none:"" }}">
                        </div>
                        <div class="col-form-label col-sm-2">Type</div>
                        <div class="col-sm-3">
                            <select class="form-control" name="organisation_type">
                                <option disabled selected>-----------------------------------</option>
                                {% for category in organisation_type_categories %}
                                    <option value="{{ category }}"
                                            {% if affiliate.organisation.type.name == category %}selected{% endif %}>{{ category }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-form-label col-sm-2">Website</div>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" name="organisation_website"
                                   value="{{ affiliate.organisation.website|default_if_none:"" }}">
                        </div>
                    </div>
                </div>

                <div class="form-group mb-s-0">
                    <div class="row">
                        <div class="col-form-label col-sm-2">Address</div>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" placeholder="Street Address"
                                   name="organisation_street_address"
                                   value="{{ affiliate.organisation.address.street_address|default_if_none:"" }}">
                        </div>
                    </div>
                </div>

                <div class="form-group mb-s-0">
                    <div class="row">
                        <div class="col-form-label col-sm-2"></div>
                        <div class="col-sm-2 mb-10">
                            <input type="text" class="form-control" placeholder="City" name="organisation_city"
                                   value="{{ affiliate.organisation.address.city|default_if_none:"" }}">
                        </div>
                        <div class="col-sm-2">
                            <input type="text" class="form-control" placeholder="PinCode"
                                   name="organisation_pincode"
                                   value="{{ affiliate.organisation.address.pincode|default_if_none:"" }}">
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-form-label col-sm-2"></div>
                        <div class="col-sm-2 mb-10">
                            <input type="text" class="form-control" placeholder="State" name="organisation_state"
                                   value="{{ affiliate.organisation.address.state|default_if_none:"" }}">
                        </div>
                        <div class="col-sm-2">
                            <input type="text" class="form-control" placeholder="Country"
                                   name="organisation_country"
                                   value="{{ affiliate.organisation.address.country|default_if_none:"" }}">
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-12">
                            <br>
                            <h3>Bank Account Details</h3>
                            <hr>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-form-label col-sm-2">Account Holder Name</div>
                        <div class="col-sm-3 mb-10">
                            <input type="text" class="form-control" name="account_holder_name"
                                   value="{{ affiliate.bank_detail.account_holder_name|default_if_none:"" }}">
                        </div>
                        <div class="col-form-label col-sm-2 offset-sm-1">Account Number</div>
                        <div class="col-sm-3">
                            <input type="text" class="form-control" name="account_number"
                                   value="{{ affiliate.bank_detail.account_number|default_if_none:"" }}">
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-form-label col-sm-2">Bank Name</div>
                        <div class="col-sm-3 mb-10">
                            <input type="text" class="form-control" name="bank_name"
                                   value="{{ affiliate.bank_detail.bank_name|default_if_none:"" }}">
                        </div>
                        <div class="col-form-label col-sm-2 offset-sm-1">Bank Branch</div>
                        <div class="col-sm-3">
                            <input type="text" class="form-control" name="bank_branch"
                                   value="{{ affiliate.bank_detail.bank_branch|default_if_none:"" }}">
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-form-label col-sm-2">Bank Branch Address</div>
                        <div class="col-sm-3 mb-10">
                            <input type="text" class="form-control" name="bank_branch_address"
                                   value="{{ affiliate.bank_detail.bank_branch_address|default_if_none:"" }}">
                        </div>
                        <div class="col-form-label col-sm-2 offset-sm-1">IFSC Code</div>
                        <div class="col-sm-3">
                            <input type="text" class="form-control" name="ifsc_code"
                                   value="{{ affiliate.bank_detail.ifsc_code|default_if_none:"" }}">
                        </div>
                    </div>
                </div>



            </form>
        </div>

        <div class="card-footer">
            <div class="form-group">
                <div class="col-sm-offset-5 col-sm-2">
                    <button type="submit" form="profile_form" class="btn btn-primary btn-block">Save</button>
                </div>
            </div>
        </div>

    </div>
{% endblock %}


{% block script %}
    <script>
        function chooseFile() {
            $("#profile_pic_input").click();
        }

        function readURL(input) {
            if (input.files && input.files[0]) {
                let reader = new FileReader();
                reader.onload = function (e) {
                    $('#profile_pic_preview').attr('src', e.target.result);
                    $('#save_profile_pic_btn').show();
                };
                reader.readAsDataURL(input.files[0]);
            }
        }

        $("#profile_pic_input").change(function () {
            readURL(this);
        });
    </script>
{% endblock %}