{% load static %}

<!-- Bootstrap and necessary plugins -->
<script src="{% static 'vendors/js/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static "vendors/js/jquery-ui.min.js" %}"></script>
<script src="{% static 'vendors/js/popper.min.js' %}"></script>
<script src="{% static 'vendors/js/bootstrap.min.js' %}"></script>
<script src="{% static 'vendors/js/pace.min.js' %}"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>
<script type="text/javascript" src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.12.0/jquery.validate.js"></script>


<!-- CoreUI main scripts -->
<script src="{% static 'coreui/js/app.js' %}"></script>

<!-- Custom scripts required by this view -->
<script src="{% static 'coreui/js/views/main.js' %}"></script>
<script type="text/javascript" src="{% static "main/js/csrf.js" %}"></script>
<script type="text/javascript" src="{% static "main/js/utils.js" %}"></script>
<script type="text/javascript" src="{% static "main/js/ajax_utils.js" %}"></script>

