{% extends 'base/base.html' %}

{% block title %}
Register
{% endblock %}



{% block content %}
    <div class="container">
        <form id="registration_form" class="form-horizontal" method="post">
            {% csrf_token %}
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-12">
                        <h1>Register</h1>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-sm-3 mb-10">
                        <input type="text" class="form-control" placeholder="First Name" name="first_name" required>
                    </div>
                    <div class="col-sm-3">
                        <input type="text" class="form-control" placeholder="Last Name" name="last_name" required>
                    </div>
                </div>

            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-sm-3 mb-10">
                        <input type="email" class="form-control" placeholder="Email" name="email" required>
                    </div>
                    <div class="col-sm-3">
                        <input type="text" class="form-control" placeholder="Phone Number" name="phone_no">
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-sm-3 mb-10">
                        <input type="password" class="form-control" placeholder="Password" name="password" id="password" required>
                    </div>
                    <div class="col-sm-3">
                        <input type="password" class="form-control" placeholder="Confirm Password" name="confirm_password"
                               id="confirm_password" required>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-3">
                    <p id="registration_error" class="alert alert-danger" style="display: none;"></p>
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-sm-2">
                        <button type="submit" class="btn btn-primary btn-block">Create Account</button>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-sm-12">
                        Already have an account?
                        <a href="{{ login_url }}" style="text-decoration: none;">
                            <span class="badge badge-secondary">Login here</span>
                        </a>
                    </div>
                </div>
            </div>

        </form>
    </div>
{% endblock %}

{% block script %}
<script>
    $('#registration_form').submit(function (e) {
        e.preventDefault();

        $.validator.setDefaults({
            debug: true,
            success: "valid"
        });



        $(this).validate({
            rules: {
                password: {
                    required: true,
                    minlength: 6,
                    maxlength: 10,
                },
                confirm_password: {
                    equalTo: "#password",
                    minlength: 6,
                    maxlength: 10
                }
            }
        });

        let form = $(this);
        let url = form.attr('action');
        let data = form.serialize();

        if(form.valid() && form.valid()) {
            $.ajax({
                type: 'POST',
                url: url,
                data: data,
                success: function (data) {
                    location.href = "{{ account_activation_sent_url }}";
                },
                error: function( jqXhr, textStatus, errorThrown ){
                    $('#registration_error').html(jqXhr.responseJSON['error']);
                    $('#registration_error').show();
                }
            });
        }
    });
</script>
{% endblock %}