{% extends "admin/base.html" %}
{% load staticfiles %}

{% block title %}{{ title }} | Halanx App{% endblock %}

{% block extrahead %}
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" />
{% endblock %}

{% block branding %}
    <h1 id="site-name"><a href="{% url 'admin:index' %}">Halanx Affiliate Marketing Tool Admin</a></h1>
{% endblock %}

{% block nav-global %}{% endblock %}

{% block extrastyle %}
    <style type="text/css">
        body:before {
            display: block;
            line-height: 35px;
            text-align: center;
            font-weight: bold;
            text-transform: uppercase;
            color: white;
            content: "{{ ENVIRONMENT_NAME }}";
            background-color: {{ ENVIRONMENT_COLOR }};
        }
    </style>
{% endblock %}


