/*noinspection CssUnknownTarget*/
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');
*{
    font-family: sans-serif;
    box-sizing: border-box;
}

.ui-icon, .ui-widget-content .ui-icon {background-image: none;}

h1 {
    text-align: center;
    font-size: 32px;
}

hr {
    display: block;
    position: relative;
    padding: 0;
    margin: 8px auto;
    height: 0;
    width: 100%;
    max-height: 0;
    font-size: 1px;
    line-height: 0;
    clear: both;
    border: none;
    border-top: 1px solid #aaaaaa;
    border-bottom: 1px solid #000000;
}

/*------------ For nav bar ----------------*/
.header {
    overflow: hidden;
    background-color: #f1f1f1;
    padding: 0 0;
    position: fixed;
    top: 0;
    width: 100%;
}

.header a, .header-right {
    float: left;
    color: black;
    text-align: center;
    padding: 10px;

    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
}

.header a.logo {
    font-size: 30px;
    font-weight: bold;
    color: red;
}

.header a:hover {
    background-color: #ddd;
    color: white;
}

.header a.active {
    background-color: dodgerblue;
    color: white;
}

.header-right {
    float: right;
    padding-right: 5px;
}

.header-right a {
    margin-right: 5px;
}

@media screen and (max-width: 800px) {
    .header a {
        float: none;
        display: block;
        text-align: left;
    }
    .header a.logo {
        font-size: 3vw;
    }
    .header-right {
        float: none;
    }

    .navbar-brand {
        font-size: 95%;
    }
}
/*------------- For home page -------------*/
ul.home {
    margin-top: 40px;
    padding-left: 0;
    list-style-type: none;
}

ul.home li {
    padding: 12px;
    margin: 12px auto;
    border-radius: 4px;
    border: 1px solid #aaa;
    width: 300px;
    text-align: center;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

ul.home li:hover {
    box-shadow: 2px 4px 8px 4px rgba(0, 0, 0, 0.1);
}

ul.home li a {
    text-decoration: none;
    color: #333;
}

/*----------------------------------------*/

body {
    padding: 12px;
    margin: 0;
}

input:not([type="checkbox"]), select, textarea {
    border-radius: 4px;
    padding: 8px 12px;
    border: 1px solid #aaa;
    width: 100%;
    max-width: 500px;
}

table.border {
    border-collapse: collapse;
    border: 1px solid #aaa;
    min-width: 500px;
}

table.border td, table.border th {
    padding: 10px;
}

td, th {
    padding: 6px;
}

.quantity {
    width: 5px; !important;
}

.btn {
    padding: 9px 12px;
    border-radius: 4px;
    border: none;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
    font-size: 16px;
}

#delete_button, .btn-red {
    background-color: #e52222;
    color: white;
}

.btn-green {
    margin-top: 8px;
    margin-left: 6px;
    background-color: #40b131;
    color: white;
}

.btn-green:hover {
    color: white;
    background-color: #00d843;
}

.btn-blue {
    background-color: #4a7ae2;
    color: #fff;
}

input[name="phone_no"] {
    margin-right: 4px;
}

@media(max-width:558px) {
    .extra {
        display: none;
    }
    td, th {
        padding: 4px;
    }

    table.border {
        min-width: unset;
        width: 100%;
    }
}

#ajaxLoad {
    display : none;
}

#ajaxLoad.show {
    display : block;
    position : fixed;
    z-index: 100;
    opacity : 0.4;
    background: #666 url('http://loadinggif.com/images/image-selection/3.gif') no-repeat center;
    left : 0;
    bottom : 0;
    right : 0;
    top : 0;
}
